[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse Kepler
#Comment=
Exec=/home/andrea/Documents/eclipse/eclipse
Terminal=false
#MimeType=
Icon=/home/andrea/Documents/eclipse/icon.xpm
Categories=TextEditor;Development;
StartupNotify=true
#Actions=

#[Desktop Action Window]
#Name=
#Exec=
#OnlyShowIn=

#[Desktop Action Document]
#Name=
#Exec=
#OnlyShowIn=
